<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org">
<head>
</head>
<body>
    <nav th:fragment="navbar">
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Cerrar sesion</button>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Inciar sesion</a>
        </div>
    </nav>
</body>
</html>